# Database
DATABASE_URL=''
# without Postgres, we can use this
SQLITE_URL=sqlite+aiosqlite:///./dev.db

OPENAI_API_KEY=
OPENAI_BASE_URL=
OPENAI_MODEL=


# Google APIs
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_CALENDAR_ID=

# Email (SMTP)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
FROM_EMAIL=

# Slack / Notifications
SLACK_BOT_TOKEN=
SLACK_CHANNEL_ID=
